* {
    background-color: #7700ff;
}

body {
    margin: 50px;
}

.info {
    font-size: 20px;
    box-sizing: border-box;
    border: black;
}

h1 {
    font-size: 30px;
}

.hand {
    max-width: 50%; 
    min-width: 300px;
    width: 300px;
    height: auto;
}

.work {
    text-justify: auto;
    color: lightblue;
    border: darkblue;

}

button {
    background-color: blanchedalmond;
}