* {
    margin: 10px;
    padding: 10px;
    background-color: rgb(0, 17, 252);
}
.intro {
    font-size: 35px;
    color: fuchsia;
    text-align: center;
}
h1, h3 {
    text-align: center;
    color: rgb(187, 216, 23);
}

button {
    background-color: darkkhaki;
}
